*{
    margin: 0;
    padding: 0;
    
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    overflow-y: hidden;
}
.section1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1080px;
}
.container-fluidstyle{
    height: 80px;
}
.navbarstyle{
    height: 80px;
    padding: 0px 10% 0px 10%;

    
}

.navbar{
    height: 100px;
}

.logoimage{
    position: relative;
}
.navbar-brandstyle{
    margin: 0;
    padding: 0;
    height: 80px;
    width: 300px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    margin-right: 100px;
    position: absolute;
}

.navbar-brand{
    width: 300px;
}
.logoimage{
    margin: 5px 5px 5px 0px;
    padding: 0;
    float: left;
    height: 60px;
    width: auto;


}

.logotext{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    height: 70px;
    width: 300px;
}

.videostyle{
    height: auto;
    width: 100p%;
}

.section1 video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

/* .menubar{
    padding-right: 10%;
    padding-left: 30%;
} */

.navbar-brand{
    padding-left: 10%;
    height: 80px;
}

.container-fluid{
    display: inline-flex;
}
.section1 img{
    height: 80px;
    width: auto;
}

.contenttext{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    text-align: center;

}
.leftsideContent{
    margin: 15% 0 0 0;;
    padding:2%;
}


.container2{
    height:980px;
    margin: 0;
    padding: 10% 10% 0 10%;
}

.contenttext{
    margin: 0;
    height: 300px;
    padding-top: 200px;

}
.contentsearch{
    margin: 0;
    padding: 0 20%;

}

.mb-3{
    display: inline-flex; 
    height: 100%;
    align-items: center;
    border-radius: 10px;
}
.form-control{
    height: 60px;
    border-radius: 10px;
    width: 500px;
}

.btn{
    height: 60px;
    width: auto;
    overflow: auto;
    border-radius: 10px;
    padding-top: 10%;
}

.btnimage{
    height: 40px;
    width: auto;
}