*{
    margin: 0;
    padding: 0;
    
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}
.section1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1080px;
}


.navbar-brand{
    margin-left: 10%;
    padding:0;
}
.navbar{
    margin: 0;
    padding:0;
    height: 180px;
    overflow: hidden;
    text-align: center;
    
}

.navbar-nav{
    margin-right: 15%;
    height: 100%;
}

.nav-link{
    font-weight: 500;
    font-family:"roboto", sans-serif;
    color: #17252A;
    font-size: 1.5em;
    padding:  5px;
    text-align: center;
    width: auto;
    vertical-align: middle;
    line-height: 1.5;
    display: flex;
  justify-content: center;
}

.navbar-collapse{
    height: 60px;
}

.videostyle{
    height: auto;
    width: 100p%;
}

.section1 video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}




.contenttext{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    text-align: center;

}
.leftsideContent{
    margin: 15% 0 0 0;;
    padding:2%;
}


.container2{
    height:980px;
    margin: 0;
    padding: 10% 10% 0 10%;
}

.contenttext{
    margin: 0;
    height: 220px;
    padding-top: 50px;

}
.contentsearch{
    margin: 0;
    padding: 0 25%;

}

.mb-3{
    display: inline-flex; 
    height: 100%;
    align-items: center;
    border-radius: 10px;
}

.btn{
    width: 40px;
    padding:0;
    border-width: 3px;
    border-radius: 5px;
    background-color: #3aafa9;
    border-color: #3aafa9;
}

.form-control{
    border: 0;
    border-radius: 5px;
    background-color: #3aafa9;
}

.btn:active{
    background-color: #287975;
    outline: none;
}
.btn:hover{
    background-color: #287975;
    border-color:#287975 ;
    outline: none;
}
.form-control:active{
    border: 0;
    border-radius: 5px;
    background-color: #287975;
    outline: none;
}
.form-control:focus{
    border: 0;
    border-radius: 5px;
    background-color: #287975;
    outline: none;
}

.form-control:hover{
    border: 0;
    border-radius: 5px;
    background-color: #287975;
    outline: none;
}
.form-control::placeholder{
    color: white;
}

.section2{
    height: 810px;
    background-color: white;
}

.carousel{
    height: 710px;
}

.footer{
    height: 100px;
    background-color: #17252a;
}

.carousel-indicators .active{
    background-color: #17252A;
}

.carousel-indicators .inactive{
    background-color: #287975;
}

/* .carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #17252A;

} */

.carousel-inner{
    text-align: center;
    height: auto;
}

.footer p{
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
    font-size: larger;
    font-weight: 500;
    font-family: 'Courgette', cursive;

}

.carousel-item{
    padding-top: 250px;
}

.carousel-item h2{
    font-size: 5em;
    font-family: 'Comfortaa', cursive;
    color: #113836;
    font-weight: bolder;
}

.carousel-item h3{
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
    color: #287975;
    font-weight: 900;

}
.carousel-control-next-icon {background-image: url(images/right.svg);}
.carousel-control-prev-icon {background-image: url(images/left.svg);}